<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问CurrencyDB
  https://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
	<configSections>
		<section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="CurrencyDBConnectionString" connectionString="Data Source=LAPTOP-254JLU2N;Initial Catalog=CurrencyDB;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<extnet theme="Default" licenseKey="ZmFuamlvbmcsMiwyMDk5LTAxLTAx" />
	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="Ext.Net" />
				<add assembly="Ext.Net.Utilities" />
				<add assembly="Newtonsoft.Json" />
				<add assembly="System.Web.Helpers" />
				<add assembly="System.Web.WebPages" />
			</assemblies>
		</compilation>
		<pages>
			<controls>
				<add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
			</controls>
			<namespaces>
				<add namespace="Ext.Net" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.WebPages" />
				<add namespace="System.Web.Helpers" />
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<modules>
			<add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
		</modules>
		<handlers>
			<add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
		</handlers>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
